@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    @apply text-[50px] md:text-[60px] font-bold md:text-start text-center
}

.subtitle {
    @apply text-[35px] md:text-[40px] font-bold md:text-start text-center
}

@media (min-width: 768px) {
    .container-title{grid-area: title;}
    .container-body{grid-area: body;}
    .container-image{grid-area: img;}

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "title img"
            "body img"
    }
}

@media (min-width: 1280px) {
    .project-img{grid-area: project-img}
    .project-title{grid-area: project-title}
    .project-body{grid-area: project-body}
    .project-footer{grid-area: project-footer}
    .project-tecs{grid-area: project-tecs}
    .project-btns{grid-area: project-btns}

    .project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            " project-title project-title "
            " project-img project-body "
            " project-footer project-footer "
        }
}






