@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    @apply text-[50px] md:text-[60px] font-bold md:text-start text-center
}

.subtitle {
    @apply text-[35px] md:text-[40px] font-bold md:text-start text-center
}

@media (min-width: 768px) {
    .container-title{grid-area: title;}
    .container-body{grid-area: body;}
    .container-image{grid-area: img;}

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "title img"
            "body img"
    }
}

@media (min-width: 1280px) {
    .project-img{grid-area: project-img}
    .project-title{grid-area: project-title}
    .project-body{grid-area: project-body}
    .project-footer{grid-area: project-footer}
    .project-tecs{grid-area: project-tecs}
    .project-btns{grid-area: project-btns}

    .project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            " project-title project-title "
            " project-img project-body "
            " project-footer project-footer "
        }
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 50px;
    padding: 5px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translatex(24px);
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    top: 2px;
    left: 2px;
    position: absolute; 
    border-radius: 100%;
    transition: transform 0.2s linear;
}

.fa-moon{
    color: #f1c40f
}

.fa-sun {
    color: #f39c12
}






